.crew_container { 
    background-image: url('https://space-tourism-multi-page-solution.netlify.app/images/88a3c692fd34eb311e04.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  main.crew{
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 100px;

    .ss{
      .info_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 150px;

        .title{
          font-family: var(--bellefair--fnt);
          font-size: 32px;
          font-weight: 400;
          color: var(--half-transparent--clr);
        }
        .name{
          font-family: var(--bellefair--fnt);
          font-size: 56px;
          font-weight: 400;
          color: var(--light--clr);
          margin-top: 15px;
        }
        .bio{
          font-family: var(--barlow--fnt);
          font-size: 18px;
          font-weight: 400;
          line-height: 32px;
          color: var(--fog--clr);
          max-width: 445px;
          margin-top: 27px;
        }
      }
    }


  }

  .crew img{
      height: 100%;
      margin: 0 auto;
  }