.crew_container { 
    background-image: url('https://space-tourism-multi-page-solution.netlify.app/images/88a3c692fd34eb311e04.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }