.destination_container { 
    background-image: url('https://space-tourism-multi-page-solution.netlify.app/images/468b922c69bf5499b4bc.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }