.home_container { 
    background-image: url('https://space-tourism-multi-page-solution.netlify.app/images/cdf3864ecbfdf20e8c3b.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }