.technology_container { 
    background-image: url('https://space-tourism-multi-page-solution.netlify.app/images/b7b589b3c0c5ef0811d4.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }