
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


*{
  box-sizing: inherit;;

}
:root {
  --bellefair--fnt: "Bellefair", serif;
  --barlow-condensed--fnt: "Barlow Condensed", sans-serif;
  --barlow--fnt: "Barlow", sans-serif;
  --dark--clr: hsl(230, 35%, 7%);
    --fog--clr: hsl(231, 77%, 90%);
    --light--clr: hsl(0, 0%, 100%);
    --half-transparent--clr: rgba(255, 255, 255, 0.5);
}
html{
  font-size: 100%;
}
section{
  padding-top: 30px;
  height: calc(100vh - 30px);
}
.subheading{
  display: flex;
  gap: 15px;
  font-family: var(--barlow-condensed--fnt);
  font-size: 28px;
  font-weight: 400;
  color: var(--light--clr);
}

.container{
  width: 90%;
  margin: auto;
}

header{
  width: 100%;
  display: flex;
  align-items: center;

  nav{
    margin-left: auto;
    height: 96px;
    width: 830px;
    padding: 0 0 0 120px;
    background: rgba(255,255,255,.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(80px);
    gap: 48px;
    a{
      flex-direction: row;
      flex-basis: auto;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 16px;
      letter-spacing: 2.7px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: hsl(0, 0%, 100%);
    }
  }
}